body
{
    background-color:silver;
}
#main
{
    margin-top: 50px;
    width: 200px;
}
.panel-kim
{
    border: none;
}
 .panel-kim .panel-heading
{
     text-align: center;
     border-bottom: 1px dotted silver;


}
 .panel-kim .dk
{
     text-align: center;
    


}
.dieukhoan
{
    margin-top: 10px;
    text-align: center;
    border-bottom: 1px solid silver;
    padding-bottom: 10px;
}
